{{#partial "content"}}
      <div class="content center">
        <a href="/start-private-rent"><button class="bvis-1-bg bvis-1-bg-hover button entry">Rent a car for myself <i class="ion-chevron-right inline-icon"></i></button></a>
        <a href="start-business-rent"><button class="bvis-1-bg bvis-1-bg-hover button entry">Rent for my business <i class="ion-chevron-right inline-icon"></i></button></a>
      </div>
{{/partial}}

{{> base}}